body{
    background-color: #a2c3ff;
}
header {
    background: #689cfc;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position:absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    padding: 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold; /*Igual Negrito*/
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #9d00bd;
    text-decoration-line: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 5% 0;
    border-style: ridge;
}

.produtos a {
    color: #000000;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    border-top-width: 10px;
    border-radius: 5%;
}

main {
    display:inline-block;
}

main canvas {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 center;
    padding: 60px 20px;
    background: url("agua-2d.gif");
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
    vertical-align: bottom;
}

#copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}